@model System.String

@{

    var fieldId = Html.IdFor(m => m);
    var fieldName = Html.NameFor(m => m);
    var isRequired = ViewData.ModelMetadata.IsRequired;

    var accessToken = Provisioning.CreateModernSites.Components.MicrosoftGraphHelper.GetAccessTokenForCurrentUser();
    var siteClassificationsSettings = OfficeDevPnP.Core.Framework.Graph.SiteClassificationsUtility.GetSiteClassificationsSettings(accessToken);

    var classifications = from c in siteClassificationsSettings.Classifications
                          select new SelectListItem
                          {
                              Text = c,
                              Value = c,
                          };
}
<div class="ms-f" id="@($"{fieldId}Div")">
    <label class="ms-Label @(isRequired ? "is-required" : "")" id="@($"{fieldId}Label")">@(!String.IsNullOrEmpty(ViewData.ModelMetadata.DisplayName) ? ViewData.ModelMetadata.DisplayName : ViewData.ModelMetadata.PropertyName)</label>
    @Html.DropDownListFor(model => model, classifications, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model)
</div>