@model IEnumerable<OfficeDevPnP.MSGraphAPIGroups.Models.ConversationThread>

<div class="ms-Grid-row ms-bgColor-themeDark ">

	<div class="ms-Grid-col ms-u-sm12">
		<h2 class="ms-font-xxl ms-fontColor-white">
			@ViewBag.Title
		</h2>
	</div>
</div>

<div class="ms-Grid-row">
	<div class="ms-Grid-col ms-u-sm12">
		@if (!String.IsNullOrEmpty(ViewBag.Message))
		{
			<h4 class="ms-font-xl">@ViewBag.Message</h4>
		}
	</div>
</div>

<div class="ms-Grid-row">
	<div class="ms-Grid-col ms-u-sm12">
		<div class="ms-CommandBar">
			<div class="ms-CommandBar-sideCommands">
				<div class="ms-CommandBarItem">
					<div class="ms-CommandBarItem-linkWrapper">
						<a class="ms-CommandBarItem-link" tabindex="1" href="@Url.Action("Details", new { id = ViewBag.GroupId })">
							<span class="ms-CommandBarItem-icon ms-Icon ms-Icon--reactivate"></span>
							<span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">Back to Group Details</span>
						</a>
					</div>
				</div>
			</div>
			<div class="ms-CommandBar-mainArea">
			</div>
		</div>
	</div>
</div>

<div class="ms-Grid-row">
	<div class="ms-Grid-col ms-u-sm12">

		<div class="ms-Table">
			<div class="ms-Table-row">
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.topic)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.uniqueSenders)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.toRecipients)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.ccRecipients)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.lastDeliveredDateTime)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.hasAttachments)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.preview)</span>
				<span class="ms-Table-cell">@Html.DisplayNameFor(model => model.isLocked)</span>
			</div>

			@foreach (var item in Model)
			{
				string uniqueSenders = String.Join("<br/>", item.uniqueSenders);
				string toRecipients = (item.toRecipients == null) ? "" : String.Join<OfficeDevPnP.MSGraphAPIGroups.Models.Recipient>("<br/>", item.toRecipients);
				string ccRecipients = (item.ccRecipients == null) ? "" : String.Join<OfficeDevPnP.MSGraphAPIGroups.Models.Recipient>("<br/>", item.ccRecipients);
				<div class="ms-Table-row">
					<span class="ms-Table-cell">
						@Html.ActionLink(item.topic, "Posts", new { id = ViewBag.GroupId, itemId = item.id })
					</span>
					<span class="ms-Table-cell noWrap">
						@Html.Raw(uniqueSenders)
					</span>
					<span class="ms-Table-cell noWrap">
						@Html.Raw(toRecipients)
					</span>
					<span class="ms-Table-cell noWrap">
						@Html.Raw(ccRecipients)
					</span>
					<span class="ms-Table-cell noWrap">
						@Html.DisplayFor(modelItem => item.lastDeliveredDateTime)
					</span>
					<span class="ms-Table-cell">
						@Html.DisplayFor(modelItem => item.hasAttachments)
					</span>
					<span class="ms-Table-cell">
						@Html.DisplayFor(modelItem => item.preview)
					</span>
					<span class="ms-Table-cell">
						@Html.DisplayFor(modelItem => item.isLocked)
					</span>
				</div>
			}
		</div>

	</div>
</div>
