@model Core.DocumentSetsWeb.Models.AddAllowedContentTypeViewModel

@{
    ViewBag.Title = "AddAllowedContentTypeView";
}

<h2>AddAllowedContentTypeView</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add Content Type to Allowed Content Types</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedStringId, "Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SelectedStringId", String.Empty)
                    @Html.ValidationMessageFor(model => model.SelectedStringId)
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
