@model List<Core.DocumentSetsWeb.Models.ContentTypeModel>

@{
    ViewBag.Title = "AllowedContentTypesDeleteAll";
}

<h2>AllowedContentTypesDeleteAll</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContentTypeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @item.Id
            </dt>

            <dd>
                @item.Name
            </dd>
            <dd>
                @item.StringId
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
