@model  List<CorporateEvents.SharePointWeb.Models.Event>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        // Set the style of the client web part page to be consistent with the host web.
        (function () {
            'use strict';

            var hostUrl = '';
            if (document.URL.indexOf('?') != -1) {
                var params = document.URL.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var p = decodeURIComponent(params[i]);
                    if (/^SPHostUrl=/i.test(p)) {
                        hostUrl = p.split('=')[1];
                        document.write('<link rel="stylesheet" href="' + hostUrl + '/_layouts/15/defaultcss.ashx" />');
                        break;
                    }
                }
            }
            if (hostUrl == '') {
                document.write('<link rel="stylesheet" href="/_layouts/15/1033/styles/themable/corev15.css" />');
            }
        })();
    </script>
    <style type="text/css">
        .featured-event-item { width:200px; float:left; padding:10px; }
    </style>
</head>
<body>
    <div>
        @foreach (var item in Model) {
            <div class="featured-event-item">
                <div><img src="@item.ImageUrl" alt="@item.Title" style="width:180px;height:85px" /></div>
                <h3>@item.Title</h3>
                <div>@item.ShortDescription</div>
                <div>@Html.ActionLink("more info", "Item", new { id = item.Id, SPHostUrl = ViewBag.SPHostUrl }, new { target = "_top"})</div>
            </div>
        }
    </div>
</body>
</html>
